# App Port
PORT=3000

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://send_moi_user:send_moi_password@localhost:5432/send_moi_db?schema=public"

# Authentication
JWT_SECRET="send_moi_super_secret_jwt_key_2026"

# Redis Cache
REDIS_HOST="localhost"
REDIS_PORT=6379

# Mobile Money API Credentials
MTN_MOMO_PRIMARY_KEY="your_mtn_momo_primary_key"
MTN_MOMO_USER_ID="your_mtn_momo_user_id"
ORANGE_MONEY_CLIENT_ID="your_orange_money_client_id"
ORANGE_MONEY_CLIENT_SECRET="your_orange_money_client_secret"
